<h1>Listing contests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Master</th>
    <th>Description</th>
    <th>Start</th>
    <th>End</th>
    <th>Application period</th>
    <th>Total work</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.title %></td>
    <td><%= contest.master %></td>
    <td><%= contest.description %></td>
    <td><%= contest.start %></td>
    <td><%= contest.end %></td>
    <td><%= contest.application_period %></td>
    <td><%= contest.total_work %></td>
    <td><%= contest.state %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
